<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="views/fragments/default-header :: default-header"></div>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div th:replace="views/fragments/navbar :: navbar-inside"></div>
    <div class="container-wrapper">
        <div class="container">
            <div class="page-header">
                <h1>Tüm Ürünler</h1>
                <p class="lead">Tüm ürünlerimizi buradan inceleyebilirsiniz.</p>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                <tr class="bg-success">
                    <th>Ürün Resmi</th>
                    <th>Ürün İsmi</th>
                    <th>Kategorisi</th>
                    <th>Durumu</th>
                    <th>Stok</th>
                    <th>Şehir</th>
                    <th>Fiyatı</th>
                    <th></th>
                </tr>
                </thead>

                <div th:each="product : ${products.productRepresentationList}">
                    <tr>
                        <td><img src="$" alt="image"/></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.category}"></td>
                        <td th:text="${product.status}"></td>
                        <td th:text="${product.unitInStock}"></td>
                        <td th:text="${product.city}"></td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <a th:href="@{/product/id/{id}(id=${product.id})}">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </td>
                    </tr>
                </div>
            </table>
            <footer th:replace="views/fragments/footer :: footer"></footer>
        </div>
    </div><!-- /.container -->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    window.jQuery || document.write('<script src="../../static/js/jquery-1.12.3.min.js"><\/script>');
    /*]]>*/
</script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
