<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link rel="icon" href="../../favicon.ico"/>-->

    <title>Boğaziçi Üniversitesi Organik Ürün Kooperatifi</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/carousel.css}" rel="stylesheet"/>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div th:replace="views/fragments/navbar :: navbar-inside"></div>
    <div class="container-wrapper">
        <div class="container">
            <div class="page-header">
                <h1>Ürün Detayı</h1>
                <p class="lead">Seçmiş olduğunuz ürünle ilgili detay:</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <img src="#" alt="product-image" style="width:100%; height: 300px"/>
                    </div>
                    <div class="col-md-5">
                        <h2 th:text="${product.name}"></h2>
                        <h4 th:text="${product.description}"></h4>
                        <p th:text="'Üretici: '+${product.producer}"></p>
                        <p th:text="'Geldiği Yer: '+${product.city}"></p>
                        <p th:text="'Stok: '+${product.unitInStock}"></p>
                        <p th:text="'Durum: '+${product.status}"></p>
                        <p th:text="'Kategori: '+${product.category}"></p>
                        <h5 th:text="'Fiyat: '+${product.price}"></h5>
                    </div>
                </div>
            </div>
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    window.jQuery || document.write('<script src="../../static/js/jquery-1.12.3.min.js"><\/script>');
    /*]]>*/
</script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
