<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="views/fragments/default-header :: default-header"></div>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div th:replace="views/fragments/navbar :: navbar-inside"></div>
    <div class="container-wrapper">
        <div class="container">
            <div class="page-header">
                <h1>Biz Kimiz?</h1>
                <p> Son yıllarda, tükettiğimiz gıdanın içeriği, lezzeti, üretim ve dağıtımının çevreye ve toplumun geneline etkileri hakkındaki kaygılarımız giderek artıyor. Tüketiciler olarak, tarladan soframıza ulaşan gıdanın, yaşamın temeli olan toprak, gen ve su kaynaklarımızı ne şekillerde etkilediğini pek az biliyoruz. Ağır kimyasal girdiler kullanarak üretilen, genetiği değiştirilmiş organizmalar içeren, endüstriyel işlemden geçirilip sıhhi olmayan koşullarda saklanan gıdanın sağlığımıza sistematik etkilerine ilişkin bulgulara her gün bir yenisi ekleniyor. Üstelik gıdanın başta gelen üreticileri olan çiftçilerin, gıdanın taşınmasından ve işlenmesinden sorumlu olan emekçilerin, çalışmalarının karşılığında ödüllendirilmek yerine mağdur edildiklerini görüyoruz. Küçük çiftçilik yok oluyor, gıda ve tarıma şirketler egemen oluyor.

                    Sağlıklı, lezzetli, doğal çevreyi ve toplumu olumsuz olarak en az etkileyen gıdayı yaygınlaştırabilmek için onu tüketiciler açısından ulaşılabilir kılmak, titiz üreticilerle dikkatli tüketiciler arasında kalıcı işbirliği ve yardımlaşma inşa etmek gerekiyor.

                    Bu işbirliği ve yardımlaşmanın en pratik ve güncel araçlarından birisi, tüketici ve üretici kooperatifleri. Bu fikirden hareket eden bizler, Boğaziçi Mensupları Tüketim Kooperatifi’ni kurduk. Mayıs 2010’dan beri Boğaziçi Üniversitesi Kuzey Kampüs’te varolan  kooperatifimiz, zaman içerisinde ürün çeşitliliğini ve birlikte çalıştığı örgütlü üretici havuzunu genişletiyor  ve giderek artan sayıda doğayla dost tarım yapan üreticiyi Boğaziçi Üniversitesi mensubu tüketicilerle buluşturuyor.

                    Tüketiciler olarak tüm bu konularda bilgi ve farkındalığımız çok az. BÜKOOP olarak hem bu farkındalığı arttırmak hem de tüketiciler olarak iyi-adil gıdaya erişim sağlarken yarı-üretici konumunda gıda-tarım sisteminde yer almak için çalışıyoruz..</p>
            </div>

            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Kooperatif Gönüllü Yöneticileri</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-center" src="http://placehold.it/200x200" alt=""></img>
                    <h3>Suzan Üsküdarlı<br/>
                        <small>Akademisyen</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-center" src="http://placehold.it/200x200" alt=""></img>
                    <h3>Albert Ali Salah<br/>
                        <small>Akademisyen</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-center" src="http://placehold.it/200x200" alt=""></img>
                    <h3>Sinan Yıldırım<br/>
                        <small>Görevli</small>
                    </h3>
                    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                </div>
            </div>

            <footer th:replace="views/fragments/footer :: footer"></footer>
        </div>
    </div><!-- /.container -->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    window.jQuery || document.write('<script src="../static/js/jquery-1.12.3.min.js"><\/script>');
    /*]]>*/
</script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
