<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="views/fragments/default-header :: default-header"></div>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div th:replace="views/fragments/navbar :: navbar-inside"></div>
    <div class="container-wrapper">
        <div class="container">
            <div class="page-header">
                <h1>Ürün Ekle</h1>
                <p class="lead">Ürün eklemek için aşağıdaki formu doldurun.</p>
            </div>

            <form action="#" th:action="@{/admin/productInventory/addProduct}" th:object="${product}" method="post">
                <div class="row">
                    <fieldset>
                        <div class="form-group col-md-4">
                            <label th:for="name">Ürün İsmi</label>
                            <input type="text" class="form-control" th:field="*{name}"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label th:for="category">Ürün Kategorisi</label>
                            <select id="category" class="form-control" th:field="*{category}">
                                <option value="0" th:text="Kırmızı_Et"></option>
                                <option value="1" th:text="Beyaz_Et"></option>
                                <option value="2" th:text="Süt_Ürünü"></option>
                                <option value="3" th:text="Sebze"></option>
                                <option value="4" th:text="Meyve"></option>
                                <option value="5" th:text="Diğer"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label th:for="unitInStock">Stok</label>
                            <input type="text" class="form-control" th:field="*{unitInStock}"/>
                        </div>
                    </fieldset>
                </div>
                <br/>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label th:for="description">Ürün Açıklaması</label>
                        <textarea type="textarea" class="form-control" rows="5" th:field="*{description}"/>
                    </div>
                </div>
                <div class="row">
                    <fieldset>
                        <div class="form-group col-md-3">
                            <label th:for="price">Fiyat</label><br/>
                            <input type="text" class="form-control" th:field="*{price}"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label th:for="unit">Birim</label>
                            <select id="unit" class="form-control" th:field="*{unit}">
                                <option value="0" th:text="Kilogram"></option>
                                <option value="1" th:text="Gram"></option>
                                <option value="2" th:text="Paket"></option>
                                <option value="3" th:text="Adet"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label th:for="status">Ürün Durumu</label>
                            <select id="status" class="form-control" th:field="*{status}">
                                <option value="1" th:text="Aktif"></option>
                                <option value="0" th:text="Pasif"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label th:for="city">Menşei</label><br/>
                            <input type="text" class="form-control" th:field="*{city}"/>
                        </div>
                    </fieldset>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <a th:href="@{/admin}" class="btn btn-info col-md-3">Geri Dön</a>
                        <button type="submit" class="btn btn-success col-md-3 col-md-offset-6">Kaydet</button>
                    </div>
                </div>
            </form>
            <footer th:replace="views/fragments/footer :: footer"></footer>
        </div>
    </div><!-- /.container -->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    window.jQuery || document.write('<script src="../static/js/jquery-1.12.3.min.js"><\/script>');
    /*]]>*/
</script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
