<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="views/fragments/default-header :: default-header"></div>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div th:replace="views/fragments/navbar :: navbar-inside"></div>
    <div class="container-wrapper">
        <div class="container">
            <div class="page-header">
                <h1>Yönetici Sayfası</h1>
                <p class="lead">Kooperatif Yönetim Sayfası</p>
            </div>

            <h3><a th:href="@{admin/productInventory}"> Ürün Listesi </a></h3>

            <p> Buradan ürünlerinizi kontrol edebilir, yeni ürün ekleyebilir ya da var olan ürünlerinizi değiştirebilirsiniz.</p>

            <footer th:replace="views/fragments/footer :: footer"></footer>
        </div>
    </div><!-- /.container -->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    window.jQuery || document.write('<script src="../static/js/jquery-1.12.3.min.js"><\/script>');
    /*]]>*/
</script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
